@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
}
